# client
NUXT_PUBLIC_API_BASE=

# server
SERVER_ACCESS_SECRET_KEY=
SERVER_REFRESH_SECRET_KEY=
SERVER_ACCESS_ALGORITHM=
SERVER_REFRESH_ALGORITHM=
SERVER_ACCESS_TOKEN_EXPIRE_MINUTES=
SERVER_REFRESH_TOKEN_EXPIRE_DAYS=

# ml_model
MLFLOW_TRACKING_URI=
MLFLOW_ARTIFACT_PATH=
MLFLOW_EXPERIMENT_PATH=
MLFLOW_EXPERIMENT_NAME=
MLFLOW_MODEL_NAME=
MLFLOW_MODEL_VERSION=

DATABRICKS_HOST=
DATABRICKS_TOKEN=

# Docker Compose
COMPOSE_BAKE=

# Africa's Talking
AFRICAS_TALKING_USERNAME=
AFRICAS_TALKING_API_KEY=