# client

# server
SERVER_ACCESS_SECRET_KEY=
SERVER_REFRESH_SECRET_KEY=
SERVER_ACCESS_ALGORITHM=
SERVER_REFRESH_ALGORITHM=
SERVER_ACCESS_TOKEN_EXPIRE_MINUTES=
SERVER_REFRESH_TOKEN_EXPIRE_DAYS=

# ml_model
MLFLOW_TRACKING_SERVER_HOST=
MLFLOW_TRACKING_SERVER_PORT=

MLFLOW_S3_IGNORE_TLS=

MLFLOW_INFERENCE_SERVER_HOST=
MLFLOW_INFERENCE_SERVER_PORT=
MLFLOW_MODEL_NAME=
MLFLOW_MODEL_ALIAS=
MLFLOW_MODEL_ARTIFACTS_PATH=
MLFLOW_MODEL_IMAGE_NAME=

MLFLOW_DB_PORT=
MLFLOW_DB_USER=
MLFLOW_DB_PASSWORD=
MLFLOW_DB_NAME=
AWS_REGION=

MINIO_HOST=
MINIO_API_PORT=
MINIO_CONSOLE_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_ACCESS_KEY=
MINIO_STORAGE_USE_HTTPS=
MINIO_BUCKET_NAME=

# Docker Compose
COMPOSE_BAKE=

# Africa's Talking
AFRICAS_TALKING_USERNAME=
AFRICAS_TALKING_API_KEY=